################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CS303-Assignment1
/.gitignore
/x64/Debug
